import I{{pascalCase name}}Props from './types'

/**
 * {{pascalCase name}} component.
 *
 * Used to render {{camelCase name}}
 *
 * @example
 * ```tsx
 * <{{pascalCase name}} dataTestId="{{kebabCase name}}-test">
 *   Example with test id
 * </{{pascalCase name}}>
 * ```
 */

export function {{pascalCase name}}({ children, className, dataTestId }: I{{pascalCase name}}Props) {
  return (
    <p className={className} data-testid={dataTestId}>
      {children}
    </p>
  )
}
